# This file tells git what files to ignore.

# Some Python files.
*.py[cod]

# Build files.
dist/*
*.egg-info/*

# Auxiliary LaTeX files.
*.dvi
*.log
*.aux
*.toc
*.lof
*.lot
*.ps
# Beamer
*.nav
*.out
*.snm
*.vrb
# listings
*.lol

# EOF
